<!-- Names: Hares Malik, Duc Nyugen 
Date: 2023-04-17
Course: WEBD6201
Description: make a about page to show the details for the ficitional character including a sample picture-->
<h1>I am Duc Nguyen - 100820410
    I am Hares Malik - 100599009
</h1>

<p>Our fictitious character is called Big Daddy Chillins. He is a cross over with john cena and dwanye the rock johnson.</p>

<h3><img src="https://d3t3ll7elkac89.cloudfront.net/prod/user/7976e0a5-0f96-4bde-aa03-f5b19957da22/6d1de193-3f99-4c65-9f66-e935689b7efc/images/image0_1024_1024_watermark.jpg?Expires=1681860371&Signature=XeyFL5vdTyToKJqqyrcD4sUgT~vf1d6~T-gfT6bPpzI1h88D800RBTS-bgpjkYtbZcwAapxvKAkGn9owEWYsuDn7KwQuYMdP9SIn2-lBo4Gvef93yq013rDvF45Qo7FscwWkgVBmalJBiamyAl0y6Wxw1pOdeEXH-8MAaZBBVhbX617ncGut4~Ct0avIT3teJYtfK1eWCYkd~aDAC52o9lTZLYI-GFPoNdipXDQ8wphACWKC28hAPkX42Oqttbk9Zb4vKHvYeuiLw1NGlVpUCJfK4k8ncx71qCcN3G32bRT9ncZ88FZxOmNThMdRV2rRTT5KtzDHSAqJ0r5ookQRvQ__&Key-Pair-Id=K3RDDB1TZ8BHT8" width="200" height="200" alt="fictitious character"></h3>
<p> his date of birth is June, 9th 1969. He grew up with his sister name Big Mommy chilling. his parents names are bob and brenda. <br>
    he is chuck norris' mentor and is a genius.</br>
    for all other information please visit <a href="./contact">Contact Us</a> Page.
</p>