<!-- Names: Hares Malik, Duc Nyugen 
Date: 2023-04-17
Course: WEBD6201
Description: Make a home page to welcome the users and give a imformational link to  -->
<h1 id="welcome"><i class="fa-solid fa-house"></i> Lab 4 - Client Side Scripting</h1>
<h1>Hi welcome to lab 4.</h1>
<p> click on the link provided to visit the about page for our ficitional character </br>
    <a><a href="../about">about </a>.</p>
<button id="RandomButton" class="btn btn-primary">Click Me To Go To a Place You've Never Seen Before!!</button>