<!-- Names: Hares Malik, Duc Nyugen 
Date: 2023-04-17
Course: WEBD6201
Description: Make a page to show 3 references for ficitional character created -->

<h1 id="welcome"><i class="fa-solid fa-bag-shopping"></i> WEBD6201 Demo Projects</h1>
<li>
    "F9" (Fast & Furious 9): This is a 2021 American action film directed by Justin Lin, in which John Cena plays the role of Jakob Toretto, the younger brother of Dominic Toretto (played by Vin Diesel). The Rock starred in several previous installments of the "Fast & Furious" franchise, including "Fast Five," "Fast & Furious 6," and "Furious 7."
</li>
<img src="https://static1.srcdn.com/wordpress/wp-content/uploads/2021/02/The-rock-john-cena-Fast-and-furious-9-.jpg" width="400" height="200">
<li> "WrestleMania 28": This was a professional wrestling pay-per-view event produced by WWE in 2012, which featured a match between John Cena and The Rock. The match was billed as "Once in a Lifetime" and was held at Sun Life Stadium in Miami Gardens, Florida. The Rock won the match, but the two wrestlers faced each other again at "WrestleMania 29" the following year.

</li>
<img src="https://cdn3.whatculture.com/images/2014/05/the-rock-john-cena.jpg" width="400" height="200">
<li> "Jumanji: Welcome to the Jungle": This is a 2017 American adventure comedy film directed by Jake Kasdan, in which Dwayne "The Rock" Johnson stars as Dr. Smolder Bravestone and John Cena has a small cameo as the character Fridge's avatar.

</li>
<img src="https://cdn.mos.cms.futurecdn.net/7NrowxWgbya36m6moCCNgB-1200-80.jpg" width="400" height="200">
