<nav>
    <ul>
      <li><a href="./home.ejs">Home</a></li>
      <li><a href="./about.ejs">About Us</a></li>
      <li><a href="./contact.ejs">Contact</a></li>
      <li><a href="./projects.ejs">Projects</a></li>
      <li><a href="./services.ejs">Services</a></li>
    </ul>
  </nav>
  